<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="e3tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="e3tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <e3tools.Properties.Settings>
      <setting name="TvStbs" serializeAs="String">
        <value />
      </setting>
      <setting name="Servers" serializeAs="String">
        <value />
      </setting>
      <setting name="ActiveServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ActiveStb" serializeAs="String">
        <value />
      </setting>
      <setting name="VigoUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="VigoPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="VigoServer" serializeAs="String">
        <value>https://vpn-portal.allentek.net</value>
      </setting>
      <setting name="VigoServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://stage-portal.allentek.com</string>
            <string xsi:nil="true" />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WSHostPort" serializeAs="String">
        <value>nextgen.local:8889</value>
      </setting>
      <setting name="WSHostPorts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>nextgen.local:8889</string>
            <string>localhost:8889</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WSRemoteUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://nextgen.local/e3/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LogsPath" serializeAs="String">
        <value>/var/www/html/procentric/log/logs/</value>
      </setting>
      <setting name="LogsPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>/opt/e3/e3ws/logs/</string>
            <string>/var/www/html/procentric/log/logs/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ZipContentPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\Dev\E3\branches\e3_lgzip</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LastOpenFile" serializeAs="String">
        <value>/opt/e3/e3ws/</value>
      </setting>
      <setting name="LastOpenFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>/opt/e3/e3ws/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ZipSelectedHospitals" serializeAs="String">
        <value />
      </setting>
      <setting name="ZipSelectedPlatforms" serializeAs="String">
        <value />
      </setting>
      <setting name="ZipOutputLocation" serializeAs="String">
        <value>c:\e3offline</value>
      </setting>
      <setting name="ZipToolCmd" serializeAs="String">
        <value>c:\tools\7-zip\7z.exe</value>
      </setting>
      <setting name="ZipToolCmds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>c:\tools\7-zip\7z.exe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FirmwareUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://nextgen.local/procentric/sstz/firmware/NF693-TIZEN/T-KTMAKUCB_1020.5.json</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="GridViewColumns" serializeAs="String">
        <value>[{"header":"Room/Bed","sort":"Name"},{"header":"Status","sort":"Status"},{"header":"MacId","sort":"MacId"},{"header":"IP","sort":"Ip"},{"header":"Last Beat","sort":"InstalledStb.lastBeat"},{"header":"Nursing Unit","sort":"InstalledStb.nursingUnit"},{"header":"E3 Version","sort":"InstalledStb.clientVersion"},{"header":"Firmware","sort":"InstalledStb.hwFirmwareVersion"},{"header":"Model","sort":"InstalledStb.hwModel"}]</value>
      </setting>
      <setting name="HospitalDefaultChannelWardIds" serializeAs="String">
        <value />
      </setting>
      <setting name="GenerateChannelListForWardIds" serializeAs="String">
        <value />
      </setting>
      <setting name="OfflineConfigs" serializeAs="String">
        <value />
      </setting>
      <setting name="WSRemoteLogConfigs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>{"level": 5, "wslog":"nextgen.local:8887"}</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WSRemoteBEUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://vpn-portal.allentek.net</string>
            <string>https://portal.allentek.com</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WSRemoteAlerts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>[{"startTime":"04/24/2016 22:00:00 -0700", "stopTime": "04/25/2016 15:00:00 -0700", "messageTitle": "test js", "messageText": "test js performance", "displayAlertType":"Scrollable"}]</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WSRemoteTVMsg" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>&lt;SDAP/1.0&gt;SERVER 100 SYSTEM TEST ACK=YES &lt;/SDAP/1.0&gt;</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ZipVersion" serializeAs="String">
        <value>3.0.1</value>
      </setting>
      <setting name="OfflineZipDocument" serializeAs="String">
        <value />
      </setting>
      <setting name="ZipSelectedHospitalId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppUpdateUrl" serializeAs="String">
        <value>http://nextgen.local/e3tools</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSentRemoteCmds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>screensaver</string>
          </ArrayOfString>
        </value>
      </setting>
    </e3tools.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <e3tools.Properties.Settings>
      <setting name="GridViewColumnsDefault" serializeAs="String">
        <value>[{'header':'Room/Bed','sort':'Name'},{'header':'Status','sort':'Status'},{'header':'MacId','sort':'MacId'},{'header':'IP','sort':'Ip'},{'header':'Last Beat','sort':'InstalledStb.lastBeat'},{'header':'Nursing Unit','sort':'InstalledStb.nursingUnit'},{'header':'E3 Version','sort':'InstalledStb.clientVersion'},{'header':'Firmware','sort':'InstalledStb.hwFirmwareVersion'},{'header':'Model','sort':'InstalledStb.hwModel'}]</value>
      </setting>
    </e3tools.Properties.Settings>
  </applicationSettings>
</configuration>